*{
    padding:0px;
    margin:0px;
}

h1{
    font-family: sans-serif;
    color: #00acc1;
}

h3{
    font-family: sans-serif;
    color: #00acc1;
    margin-bottom: 20px;
}

#top_bar{
    width: 100%;
    height: 100px;
    background-color: #4db6ac;
}

#div_form{
    margin: auto;
    padding: 10px;
    margin-top: 25px;
    background-color: #FFF;
    width:30%;
    border: 2px solid #CCC;
    height:700px;
}

#top_bar_logo{
    height: 100%;
    width: 10%;
    background-color: #000;
}

.input_normal{
    height: 80px;
    width: 100%;
    margin-bottom: 20px;
}

.input_normal p{
    font-size: 14px;
    font-family: sans-serif;
    color: #555 ;
    font-weight: bold;
}

.input_normal input{
    background: #FFF;
    border:none;
    border-bottom: 2px solid #4db6ac;
    height: 40px;
    width: 98%;
    font-size: 16px;
    color: #000;
    padding:5px;
}

.input_maior{
    height: auto;
    width: 100%;
    margin-bottom: 20px;
}

.input_maior textarea{
    background-color: #FFF;
    border:2px solid #4db6ac;
    width: 97.5%;
    height: 150px;
    padding-left: 5px;
    padding-right: 5px;
    color: #000;
    font-size: 16px;
}

.input_maior p{
    font-size: 14px;
    font-family: sans-serif;
    color: #555 ;
    font-weight: bold;
}

.input_tipo{
    height: auto;
    width: 100%;
    margin-bottom: 20px;
}

.input_tipo select{
    background-color: #FFF;
    border: 1px solid #4db6ac;
    color: #000;
    font-size: 16px;
}

.input_tipo p{
    font-size: 14px;
    font-family: sans-serif;
    color: #555 ;
    font-weight: bold;
}

.input_date{
    height: auto;
    width: 49.5%;
    margin-bottom: 20px;
    display: inline-block;
}

.input_date input{
    background-color: #FFF;
    border: 2px solid #4db6ac;
    height: 40px;
    width: 60px;
    text-align: center;
    color: #000;
    font-size: 16px;
}

.input_date p{
    font-size: 14px;
    font-family: sans-serif;
    color: #555 ;
    font-weight: bold;
}

.button_submit_new_event{
    height: auto;
    width: 100%;
    margin-bottom: 20px;
}

.button_submit_new_event button{
    background-color: #4db6ac;
    border: none;
    color: #000;
    height: 40px;
    width: 80%;
    color: #FFF;
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 70px;
    margin-left: 10%;
}