<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>ICARUS - Cadastre seu evento</title>
    <link rel="stylesheet" type="text/css" href="{% static 'personal/css/cadastrar_evento.css' %}">
</head>
<body bgcolor="#fafafa">
    <div id="top_bar">

        <div id="top_bar_logo"></div>

    </div>
    <div id="div_form">
        <form method="POST" class="form_login">
            {% csrf_token %}

            {% if form.errors %}
					<p>Algo está errado, confira as informações e tente novamente.</p>
            {% endif %}

            <h1>Cadastre seu evento!</h1>
            <h3>É rápido e fácil!</h3>
            <div class="input_normal">
                <p>Título:</p>
                <input class="input_form" name="titulo_evento" class="col m12">
            </div>

            <div class="input_maior">
                <p>Descrição:</p>
                <textarea class="input_form" name="descricao_evento"></textarea>
            </div>

            <div class="input_tipo">
                <p>Tipo de evento:</p>
                <select name="tipo">
                    <option value="0">OUTROS</option>
                    <option value="1">SEMANA CIENTÍFICA</option>
                    <option value="2">PALESTRA</option>
                    <option value="3">CICLO DE PALESTRAS</option>
                    <option value="4">SIMPÓSIO</option>
                    <option value="5">JORNADA</option>
                    <option value="6">CONGRESSO</option>
                </select>
            </div>

            <div class="input_date">
                <p>Data de início:</p>
                <input class="" placeholder="Dia" maxlength="2" name="date_evento_in_day">
                <input class="" placeholder="Mês" maxlength="2" name="date_evento_in_month">
                <input class="" placeholder="Ano" maxlength="4" name="date_evento_in_year">
            </div>

            <div class="input_date">
                <p>Data de encerramento:</p>
                <input class="" placeholder="Dia" maxlength="2" name="date_evento_out_day">
                <input class="" placeholder="Mês" maxlength="2" name="date_evento_out_month">
                <input class="" placeholder="Ano" maxlength="4" name="date_evento_out_year">
            </div>

            <div class="button_submit_new_event">
                <button type="submit">CRIAR EVENTO</button>
            </div>

        </form>

    </div>
</body>
</html>



<!--


            <p>Título</p>
            <input class="input_form" name="titulo_evento" class="col m12">

            <p>Descrição</p>
            <textarea class="input_form" name="descricao_evento"></textarea>

            <p>Tipo de Evento</p>
            <select name="tipo">
                <option value="0">OUTROS</option>
                <option value="1">SEMANA CIENTÍFICA</option>
                <option value="2">PALESTRA</option>
                <option value="3">CICLO DE PALESTRAS</option>
                <option value="4">SIMPÓSIO</option>
                <option value="5">JORNADA</option>
                <option value="6">CONGRESSO</option>
            </select>

            <p>Data de início</p>
            <input class="" maxlength="2" name="date_evento_in_day">
            <input class="" maxlength="2" name="date_evento_in_month">
            <input class="" maxlength="4" name="date_evento_in_year">

            <p>Data final</p>
            <input class="input_form" name="date_evento_out" type="date">

            <br>
            <br>
            <button type="submit">SUBMIT</button>
-->