<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>ICARUS | {{evento.titulo|upper}} </title>
	{% include "headerbase.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'personal/css/evento.css' %}">
    <script src="{% static 'personal/js/evento.js' %}"></script>


</head>
<body>
	<div class="fullscreen">
        <!-- barra superior -->
        <div class="row z-depth-4 teal lighten-1" id="top_bar">

            <div class="col m1"></div>

            <div class="col m1" id="div_logo">

            </div>

            <div class="col m1"></div>

            <div class="col m6" id="nome_evento">

            </div>

            <div class="col m1"></div>

            <div class="col m1" id="div_fim_inscricao">

            </div>

            <div class="col m1"></div>

        </div>

        <!-- conteudo -->
        <div class="row">
            <div class="col m2"></div>
            <div class="col m6 ">

                <h1>{{evento.titulo.capitalize}}</h1>

                <h5>{{evento.descricao.capitalize}}</h5>

                <h5><b>Atividades:</b></h5>
                <ul>
                    {% for i in atividades %}
                        <li>{{i.titulo}}</li>
                    {% endfor %}
                </ul>

                <h5><br>De {{evento.dt_inicio}} até {{evento.dt_fim}}<br><br><br></h5>

                <h5>Preço do evento: R$ {{valor_total}}</h5>

                <br><br><br>


                <form method="POST" name="cadastro_instituicao" class="form_cadastro_ev">
                    {% csrf_token %}

                    <label>Selecione as atividades que você deseja</label>

                    <select multiple>
                        <option value="" disabled selected>Nenhuma</option>
                        {% for i in atividades %}
                            <option value="{{i.id}}">{{i.titulo}}</option>

                        {% endfor %}
                    </select>

                    <button class="col m4 red white-text" type="submit"> Me Inscrever! </button>

                </form>


                <div class="col m2"></div>

                <div class="col m2"></div>

            </div>

            <div class="col m2">

            </div>

        </div>

	</div>
</body>
</html>