<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>ICARUS | Home</title>
	{% include "headerbase.html" %}
	<link rel="stylesheet" type="text/css" href="{% static 'personal/css/base_home.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'personal/css/base_home.js' %}">

	<script>

		function call_page(url){
 		   window.location.href = url;
		}



	</script>

</head>
<body>
	<div class="fullscreen blue-grey lighten-5">
		<div class="row">
			<div class="col m12 z-depth-4 teal lighten-1" id="top_bar">
				<div class="col m1"></div>
				<div class="col m1 black component_bar"></div>
				<div class="col m1 component_bar"></div>

				<div class="col m3 row component_bar" id="div_pesquisa">

					<input class="col m10" id="entrada_tag" placeholder="Pesquise eventos em nossa plataforma..."/>
					<button class="col m2" id="entrada_btn">
						
						<img class="center-align" id="img_pesquisa" onclick="" src="{% static 'personal/images/pesquisa.png' %}">
						
					</button>

				</div>

				<div class="col m2 component_bar"></div>
				<div class="col m1 component_bar" id="btn_eventos">
					<button class="teal lighten-1 white-text" onclick="call_page('{% url 'meus_eventos' %}')" id="botao_lista_eventos">MEUS EVENTOS</button>
				</div>

				<div class="col m1 component_bar" id="btn_inscricoes">
					<button class="teal lighten-1 white-text btns_top" id="botao_lista_inscricoes">MINHAS INSCRIÇÕES</button>
				</div>

				<div class="col m1 component_bar" id="area_user">
					<div class="left-align teal lighten-1 btns_top" id="botao_area_user">
						<button class="left-align teal lighten-1" id="btn_sair" onclick="call_page('{% url 'logout' %}')">
							<img id="img_user" src="{% static 'personal/images/exit.png' %}">
						</button>
					</div>

				</div>

				<div class="col m1"></div>
			</div>
		</div>
		<div class="row valign-wrapper" id="body_main">

			<div class="col m12" id="div_content_main">

				<div class="col m1"></div>
				<div class="col m2 white z-depth-1 components_main" id="lateral_left_home">

					<div class="col m12 btns_left btn waves-effect waves-teal" onclick="call_page('{% url 'novo_evento' %}')" id="buttom_left_create_event">

						<p class="components_create_event">CRIAR EVENTO</p>
						<img class="components_create_event" src="{% static 'personal/images/plus.png' %}">

					</div>

					<div class="col m12 btns_left btn waves-effect waves-teal" id="buttom_left_user_profile">

						<p class="components_create_event"> {{ user.nomedeusuario }} </p>
						<img class="components_create_event" src="{% static 'personal/images/user.png' %}">


					</div>

					<div class="col m12 btns_left btn waves-effect waves-teal" id="buttom_left_configuracoes">

						<p class="components_create_event">CONFIGURAÇÕES</p>
						<img class="components_create_event" src="{% static 'personal/images/settings.png' %}">

					</div>

				</div>

				<div class="col m1"></div>

				<div class="col m7 components_main" id="meio_home">
					{% for evento in eventos %}

						<div class="col m8 teal z-depth-1" id="div_evento">

							<div class="col m12" id="superior_div_evento">

								<div class="col m8 components_div_evento" id="titulo_descricao">

									<p id="titulo_div_evento"> {{ evento.titulo|upper }} </p>
									<p id="descricao_div_evento"> {{ evento.descricao.capitalize }} </p>

								</div>
								<div class="col m4 components_div_evento white" id="imagem_evento">
									
									<img style="height: 100%; width: 100%;" src="{% static 'personal/images/tipos_de_evento/outros.jpg' %}">
									
								</div>

							</div>
							<div class="col m12 white" id="inferior_div_evento">

								<p id="tags_inscreva_se">Aqui aparecerão as tags</p>
								<!--<p>{{ evento.id }}</p>-->
								<button class="btn waves-effect waves-teal" onclick="call_page('{% url 'page_evento' evento.id %}')" id="botao_inscreva_se">Acesse a página do evento</button>

							</div>

						</div>

					{% endfor %}
				</div>

				<div class="col m1"></div>

			</div>

		</div>
	</div>
</body>
</html>