<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Event_On | Home</title>
	{% include "headerbase.html" %}
	<link rel="stylesheet" type="text/css" href="{% static 'personal/css/base_home.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'personal/css/base_home.js' %}">

	<script>

		function call_counter(url){
 		   window.location.href = url;
		}

	</script>

</head>
<body>
	<div class="fullscreen blue-grey lighten-5">
		<div class="row">
			<div class="col m12 z-depth-4 cyan darken-1" id="top_bar">
				<div class="col m1"></div>
				<div class="col m1 black component_bar"></div>
				<div class="col m1 component_bar"></div>

				<div class="col m3 row component_bar" id="div_pesquisa">

					<input class="col m10" id="entrada_tag" placeholder="Pesquise eventos em nossa plataforma..."></input>
					<button class="col m2" id="entrada_btn">
						
						<img class="center-align" id="img_pesquisa" onclick="" src="{% static 'personal/images/pesquisa.png' %}">
						
					</button>

				</div>

				<div class="col m2 component_bar"></div>
				<div class="col m1 component_bar" id="btn_eventos">
					<button class="cyan darken-1 white-text" onclick="call_counter('https://google.com')" id="botao_lista_eventos">Meus Eventos</button>
				</div>

				<div class="col m1 component_bar" id="btn_inscricoes">
					<button class="cyan darken-1 white-text btns_top" id="botao_lista_inscricoes">Minhas Inscrições</button>
				</div>

				<div class="col m1 component_bar" id="area_user">
					<div class="left-align cyan darken-1 btns_top" id="botao_area_user">
						<img class="white" id="img_user" src="{% static 'personal/images/default.png' %}">
						<img id="botao_sair" src="{% static 'personal/images/exit.png' %}">
					</div>

				</div>

				<div class="col m1"></div>
			</div>
		</div>
		<div class="row valign-wrapper" id="body_main">

			<div class="col m12" id="div_content_main">

				<div class="col m1"></div>
				<div class="col m2 white z-depth-1 components_main" id="lateral_left_home">

					<div class="col m12 btns_left btn waves-effect waves-teal" onclick="" id="buttom_left_create_event">

						<p class="components_create_event">CRIAR EVENTO</p>
						<img class="components_create_event" src="{% static 'personal/images/plus.png' %}">

					</div>

					<div class="col m12 btns_left btn waves-effect waves-teal" id="buttom_left_user_profile">

						<p class="components_create_event"> {{ user.nomedeusuario }} </p>
						<img class="components_create_event" src="{% static 'personal/images/user.png' %}">


					</div>

					<div class="col m12 btns_left btn waves-effect waves-teal" id="buttom_left_configuracoes">

						<p class="components_create_event">CONFIGURAÇÕES</p>
						<img class="components_create_event" src="{% static 'personal/images/settings.png' %}">

					</div>

				</div>

				<div class="col m1"></div>

				<div class="col m7 black components_main" id="meio_home">

				</div>

				<div class="col m1"></div>

			</div>

		</div>
	</div>
</body>
</html>