<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Event_On | Home</title>
	{% include "headerbase.html" %}
</head>
<body>
	<div class="fullscreen">
		<div class="row container valign-wrapper">
			<div class="col m7">
				<p class="center-align justificado"> meu nome nao é jhonatan Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget nibh gravida, tempor arcu quis, aliquet neque. Nullam tincidunt consectetur est et laoreet.</p>
			</div>
			<div class="col m5">

		</div>
	</div>
</body>
</html>